:root {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  --primary-colour: white;
  --secondary-colour: #ef7021;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-centre {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-centre {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.width-full {
  width: 100%;
}
