.search-container {
  margin: 10px 0px;
}

.search-bar {
  gap: 5px;
  height: 30px;
  width: 49.08%;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  padding-left: 5px;
}

.search-bar img {
  height: 18px;
  width: 18px;
  filter: grayscale(1);
}

.search-bar p {
  color: #757575a9;
  font-size: 0.7rem;
}

.search-btn {
  height: 30px;
  width: 93px;
  border: 1px solid var(--secondary-colour);
  border-radius: 6px;
  background-color: var(--primary-colour);
}

.search-btn p {
  color: var(--secondary-colour);
  font-size: 0.7rem;
}

.search-btn img {
  height: 15px;
  width: 15px;
}